
<div id="container">
  
  <header>
    <h1>Home</h1>
  </header>
  
  <div id="main">
    
    <a href="/recipes">See all recipes</a></br>
    <a href="/ingredients">See all ingredients</a></br>
    
  </div>
</div>