
<div id="container">
  
  <header>
    
    <h1>Ingredients</h1>
    
    <nav>
      <ul>
        <li><a>Select an ingredient to see the recipes the item is in:</a></li>
      </ul>
    </nav>
    
  </header>
  
  <div id="main">
    
    <% @ingredients.each do |i| %>

    <a href="/ingredients/<%= i.id %>/recipes"><%= i.name %></a></br>

    <% end %>
    
  </div>
  
</div>