<h1>Edit Ingredient</h1>

<form action="/ingredients/<%= ingredient.id %>/update" method="post">
  
  <p>Name: <input type="text" name="name" text="<%= ingredient.name %>"></p>
  
  <input type="submit">
  
</form>