
<div id="container">
  
  <header>
    
    <h1>Successfully updated review!</h1>
    
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/recipes">View all recipes</a></li>
        <li><a href="/recipes/<%= @recipe.id %>">Return to recipe</a></li>
        <li><a href="/recipes/<%= @recipe.id %>/reviews">Return to reviews for recipe <%= @recipe.name %></a></li>
      </ul>
    </nav>
    
  </header>
  
  <div id="main"></div>
  
</div>