<h1>Succesfully created new Review!</h1>

<a href="/recipes/<%= @recipe.id %>">Return to recipe.</a></br>
<a href="/recipes/<%= @recipe.id %>/reviews">Return to review for recipe <%= @recipe.name %></a></br>
<a href="/recipes">View all recipes</a></br>
<a href="/">Home</a>