<div id="container">
  
  <header>
    
    <h1>New Review</h1>
    
    <nav>
      <ul>
        <li><%= @recipe.name %></li>
      </ul>
    </nav>
    
  </header>
  
  <div id="main">
    
    <form action="/recipes/<%= @recipe.id %>/reviews/create" method="post">
  
      <p>Text: <input type="text" name="text"></p>
  
      <input type="submit">
  
    </form>
    
  </div>
  
</div>