<div id="container">
  
  <header>
    
    <h1>New Review</h1>
    
    <nav>
      <ul>
        <li><%= @recipe.name %></li>
      </ul>
    </nav>
    
  </header>
  
  <div id="main">
    
    <form action="/recipes/<%= @recipe.id %>/reviews/create" method="post" id="review_form_new">
  
      <p>Text: <input type="text" name="text" id="review_text_new">
      <span class="error">Invalid</span></p>
  
      <input type="submit" id="new_submit_button" >
  
    </form>
    
  </div>
  
</div>