
<div id="container">
  
  <header>
    
    <h1>Succesfully updated Recipe!</h1>
    
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/recipes">All recipes</a></li>
      </ul>
    </nav>
    
  </header>
  
  <div id="main">
    
  </div>
  
</div>