<div id="container">
  
  <header>
    
    <h1>Recipes</h1>
    
    <nav>
      <a href="recipes/new">Add recipe</a></br>
    </nav>
    
  </header>
  
  <div id="main">
    
    <% @recipes.each do |r| %>

      <a href="/recipes/<%= r.id %>"><%= r.name %></a></br>
 
    <% end %>
    
  </div>
  
</div>