<h1>New Recipes</h1>

<form action="/recipes/create" method="post">
  
  <p>Name: <input type="text" name="name"></p>
  
  <p>Serving Size: <input type="text" name="servings"></p>
  
  <p>Prep Time: <input type="text" name="prep_time"></p>
  
  <p>Cook Time: <input type="test" name="cook_time"></p>
  
  <input type="submit">
  
</form>